.area  {
    position: relative;
    top: 150px;
    
}

.button {
    border-radius: 50%;
    text-decoration: none;
    
}
.formu  {
    margin: 0 auto;
    width: 1000px;
    background-color: #2e3939;
    height: 500px;
    border-radius: 30%;
    padding: 50px;
    color: ghostwhite;
}

.lead a {
    text-decoration: none;
    color: ghostwhite;
    background-color: #a700ff;
    border-radius: 10%;
}

/* Dropdown Button */
.dropbtn {
  background-color: #222020;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #222020;}





.texta {
    text-align: center;
    position: relative;
    margin: 70px;
    outline: 10px dashed red;
}
   

.text {
    text-align: center;
    position: relative;
    margin: 70px;
}
   


.een {
    width: 300px;
    height: 200px;
    position: relative;
    top: 50px;
}

.twee {
    width: 300px;
    height: 200px;
    position: relative;
    top: 50px;
}

.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  
  border-radius: 5px;
}

.product-device-2 {
  top: 7%;
  right: auto;
  bottom: 0;
  left: 5%;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

